body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #C9B79C;
}

input {
    padding: 5px;
    border-radius: 8px;
    background-color: #F1E0C5;
    color: #342A21;
}

button {
    padding: 5px;
    border-radius: 8px;
    color: #342A21;
    background-color: #DA667B;
}

.grid-container {
    padding: 0;
    margin: 0;
    width: 600px;
    height: 600px;
    background-color: #F1E0C5;
    border: 1px solid #342A21;
    box-shadow: 10px 10px 10px #342a2187;
    display: flex;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.square {
    border: 1px solid #342A21;
    flex: 1;
}